

nav.menu-nav ul li{

}
	

nav.menu-nav ul li{
	list-style-type: none;
	display: inline-block

}

nav.menu-nav ul li a{
	color: #fff;
	background-color: red;
	text-decoration: none;
	padding: 10px

}
nav.menu-nav ul li:hover a{
	columns: red;
	background-color: black ;
	transition: 0.4s all ;
}





footer{
	background-color: whitesmoke;
	opacity: 0.7;
	color: grey;
	width: 100%;
	font-size: 20px;
	margin-top: auto;
}
body{
	background-image:url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: 100%
}
h2{
	color:blue;
	text-shadow:0 0 3px #FE0000, 0 0 45px #FE0000, 0 0 800px #FE0000;color:#FE0000;
}
.form{

color: red;
text-align: center;
text-decoration: blink;
text-shadow:0 0 3px #FE0000, 0 0 45px #FE0000, 0 0 800px #FE0000;color:#FE0000;
background-color:opacity 0.5px;
background-color:#E4EFFF;
-moz-border-radius:5px 0;
-webkit-border-radius:5px 0;
border-radius:5px 0;
align-content: center;
background-color: black;
	width: min-content;
	opacity: 0.7;
	border-radius: 10px;
	margin: 5%;
	padding-bottom: 10px;
	padding: 25px;
	color: white;

}

.bodyindex, html{
  
  height: 100%;
  min-height: 100vh;
  margin: 0px;
}

.star-wars-intro {
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #EBD71C;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.star-wars-intro p.intro-text {
  position: relative;
  max-width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  text-align: center;
  -webkit-animation: intro 2s ease-out;
  -moz-animation: intro 2s ease-out;
  -ms-animation: intro 2s ease-out;
  -o-animation: intro 2s ease-out;
  animation: intro 2s ease-out;
}

.star-wars-intro .main-content{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  width: 98%;
  height: 50em;
  bottom: 0;
  font-size: 80px;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}

.star-wars-intro .main-content:after {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

.star-wars-intro .space-button {
  color: #EBD71C;
  border: 12px solid #EBD71C;
  padding: 20px;
  background: transparent;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.star-wars-intro .space-button:hover {
  background-color: #D2BE03;
  border-color: #D2BE03;
  color: black;
}

.star-wars-intro .space-button:active,
.star-wars-intro .space-button:focus {
  background-color: #B8A40A;
  border-color: #B8A40A;
  color: black;
}

.star-wars-intro .title-content {
  position: absolute;
  top: 100%;
  animation: scroll 120s linear 4s forwards;
}

.star-wars-intro .title-content > .content-header {
  text-align: center;
}
  

